.cache
.vscode/settings.json
.vscode/tasks.json
.vscode.
.venv
.ipynb_checkpoints
__pycache__
libs/openblas*
bin/help/.vscode
tmp
out
build
*.exe
calc/**/*.pgm
calc/.vscode
CMakeLists.txt.user*
CMakeLists.txt.autosave
track_mem*.csv