[submodule "libs/orion"]
	path = libs/orion
	url = https://github.com/orion-project/orion-qt
[submodule "libs/qcustomplot"]
	path = libs/qcustomplot
	url = https://github.com/orion-project/QCustomPlot.git
